@CHARSET "UTF-8";
table,tr{
	border:2px solid #d8d8d8;
	border-collapse:collapse;
	text-align:center;
	font-size:11px;
}
td,th{
	border-left:none;
	border-right:none;
	text-align:center;
}
.menu{
	margin-left:30%;
}
#container{
	width:70%;
	margin:0 auto;
}
a{ 
color:green;
text-decoration:none; 
}
a:hover{
color:orange;
text-decoration:underline;
}
.btn{
	background:white;
	color:#7777ff;
	border:none;
	border-radius:5px;
	font-size:15px;
	margin-top:3px;
	margin-bottom:3px;
	cursor:pointer;
}
.btn:hover{
	background:#7777ff;
	color:white;
	border:none;
	border-radius:5px;
	font-size:15px;
	margin-top:3px;
	margin-bottom:3px;
	cursor:pointer;
	
	
	
}
